name: Release new version
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: Type of release based on semver (e.g. patch, minor, major)
        required: true
        default: minor

jobs:
  release:
    name: Release new version to NPM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          always-auth: true
          node-version: 14.x
          registry-url: https://registry.npmjs.org
      - name: Setup Git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - run: npm version ${{github.event.inputs.release-type}}
      - name: Push commit and tag
        run: |
          git push
          git push --follow-tags
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
